* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blender {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: url('/img/licuadoraApagada.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width:700px) {
    .blender {
        width: 400px;
        height: 400px;
    }
}

.blender-boton {
    margin: 350px auto 0;
    width: 70px;
    height: 70px;
}


.blender.active {
    background-image: url(/img/licuadoraEncendida.gif);
}


.text {
    padding-left: 45%;
    text-transform: capitalize;
    text-align: center;
    color: rgb(114, 37, 214);
    font-family: monospace;
}

@media (max-width:700px) {
    .text {
        padding-left: 15%;
    }
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: absolute;
    top: 92%;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

@media (max-width:1000px) {
    .footer {
        margin: 5px;
        position: absolute;
        top: 90%;
        width: 98%;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }
}

@media (max-width:700px) {
    .footer {
        margin: 5px;
        position: absolute;
        top: 90%;
        width: 90%;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }
}

a {
    cursor: pointer;
}

h1 {
    font-family: monospace;
    text-align: center;
    margin-top: 8vh;
    font-size: 350%;
    text-transform: capitalize;
    color: rgba(114, 37, 214, 0.767);
}

@media (max-width:700px) {
    h1 {
        margin-top: 5vh;
        font-size: 200%;
    }
}